@font-face {
    font-family: "Athelas";
    src: url("./Athelas-Regular.ttf");

    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Athelas";
    src: url("./Athelas-Bold.ttf");

    font-weight: 700;
    font-style: normal;
}

$font-family: "Athelas";
